<style>
  .borders {
    width: 300px;
    height: 200px;
    border: 3px gray solid;
    margin-right: 10px;
    float: left;
  }

  .orders {
    margin-top: 10px;
    margin-right: 190px;
  }

  #userSelector {
    margin-bottom: 10px;
  }
</style>

<body ng-app='onlineAdsApp'>
  <div>
    <h1>HELLO {{ selectedUser.toUpperCase()}} MY OLD FRIEND</h1>
    <select id='userSelector' ng-init='selectedUser = users[0]' ng-model='selectedUser' ng-options='user for user in users'></select>
    <main>
      <div class='borders' ng-repeat='product in products'>
        <li>
          <ul>{{ product.name }}</ul>
          <ul>{{ product.price }}</ul>
          <ul>{{ product.description }}</ul>
        </li>
      </div>

      <input class='orders' ng-change='{{ product.calcFunction }}' ng-model='quantity[product]' ngValue='product' ng-repeat='product in products' for='{{ product }}' name='order' type='number'>

      <div>
        <h4>TOTAL:</h4>
      </div>

    </main>
  </div>
</body>