<style>
  .borders {
    width: 300px;
    height: 200px;
    border: 3px gray solid;
    margin-right: 10px;
    float: left;
  }

  .orders {
    margin-top: 10px;
    margin-right: 180px;
  }

  #userSelector {
    margin-bottom: 10px;
  }
</style>

<body ng-app='onlineAdsApp'>
  <div>
    <h1>HELLO {{ selectedUser.toUpperCase()}} MY OLD FRIEND</h1>
    <select id='userSelector' ng-init='selectedUser = users[4]' ng-change='getUserInfo()' ng-model='selectedUser' ng-options='user for user in users'></select>
    <main>
      <div class='borders' ng-repeat='product in products'>
        <li>
          <ul>{{ product.name }}</ul>
          <ul>{{ product.price }}</ul>
          <ul>{{ product.description }}</ul>
        </li>
      </div>

      <input class='orders' type="number" ng-change=calculate('classic') ng-model='orders.classic' ng-min=0 value=0>
      <input class='orders' type="number" ng-change=calculate('standout') ng-model='orders.standout' ng-min=0 value=0>
      <input class='orders' type="number" ng-change=calculate('premium') ng-model='orders.premium' ng-min=0 value=0>

      <div>
        <h4>TOTAL:</h4>
      </div>

    </main>
  </div>
</body>