<style>
  .borders {
    width: 300px;
    height: 200px;
    border: 3px gray solid;
    margin-right: 10px;
    float: left;
  }

  .orders {
    margin-top: 10px;
    margin-right: 180px;
  }

  #userSelector {
    margin-bottom: 10px;
    width: 10%;
    min-width: 100px;
  }

  #checkout {
    margin-top: 10px;
  }

</style>

<body>
  <select id="userSelector" class="form-control" ng-init="selectedUser = users[0]" ng-change="getUserInfo()" ng-model="selectedUser" ng-options="user for user in users"></select>

  <div ng-show="userInfo">
    <h1>HELLO {{ selectedUser.toUpperCase()}} MY OLD FRIEND</h1>
    <main>
      <div class="borders" ng-repeat="product in products">
        <li>
          <ul>{{ product.name }}</ul>
          <ul>{{ product.price }}</ul>
          <ul>{{ product.description }}</ul>
        </li>
      </div>

      <input class="orders" type="number" ng-change=calculate('classic') ng-model="orders.classic.quantity" ng-min=0 value=0>
      <input class="orders" type="number" ng-change=calculate('standout') ng-model="orders.standout.quantity" ng-min=0 value=0>
      <input class="orders" type="number" ng-change=calculate('premium') ng-model="orders.premium.quantity" ng-min=0 value=0>

      <div>
        <h4 ng-show="orders.classic.price" >TOTAL: ${{ orders.classic.price }} + {{ determineFreeAds('classic') }} free ads</h4>
        <h4 ng-show="orders.standout.price" && >TOTAL: ${{ orders.standout.price }} + {{ determineFreeAds('standout') }} free ads</h4>
        <h4 ng-show="orders.premium.price" && >TOTAL: ${{ orders.premium.price }} + {{ determineFreeAds('premium') }} free ads</h4>
      </div>

      <button type="button" id="checkout" class="btn btn-success" ng-click="checkout()">CHECKOUT</button>

    </main>
  </div>
</body>