<style>
  .productDesc {
    margin: 20px 0px 0px 20px;
  }

  .borders {
    width: 600px;
    height: 250px;
    border: 3px blue solid;
    margin-right: 10px;
    float: left;
    display: inline-block;
    background-color: #e9e9e9
  }

  .orders {
    max-width: 100px;
  }

  .ordersLabel {
    margin: 50px 10px 10px 20px;
  }

  .productTotal {
    margin-left: 20px;
  }

  #userSelector {
    margin: 10px 42.5%;
    width: 15%;
    min-width: 100px;
  }

  #main {
    margin-left: 10px;
  }

  #checkout {
    margin-top: 10px;
    position: absolute;
  }

</style>

<body>
  <select id="userSelector" class="form-control" ng-init="selectedUser = users[0]" ng-change="getUserInfo()" ng-model="selectedUser" ng-options="user as user disable when user === 'Choose username' for user in users"></select>

  <div id='main' ng-show="userInfo">
    <h1>Welcome {{ selectedUser.toUpperCase()}} !!</h1>
    <div>
      <div class="borders" ng-repeat="product in products">
        <h3 class='productDesc'> {{ product.name }}</h3>
        <h5 class='productDesc'> {{ product.price }}</h5>
        <h5 class='productDesc'> {{ product.description }}</h5>

        <div class="input-group">
          <label class="ordersLabel">Orders: </label>
          <input class="orders" type="number" ng-change=calculate(product.sku) ng-model="orders[product.sku].quantity" min=0 ng-min=0 value=0>
        </div>

        <h4 class="productTotal" ng-show="orders[product.sku].price">Total: ${{ orders[product.sku].price }} + {{ determineFreeAds(product.sku) }} free ads</h4>
      </div>

      <button type="button" id="checkout" class="btn btn-primary" ng-click="checkout()" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> CHECKOUT</button>
    </div>

    <!-- CHECKOUT MODAL BOX -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Final Order</h4>
          </div>
          <div class="modal-body">
            <h4>Classic: {{ totalOrders.classic }}</h4>
            <h4>Standout: {{ totalOrders.standout }}</h4>
            <h4>Premium: {{ totalOrders.premium }}</h4>
            <h4>Total: ${{ totalPrice }}</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirm</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>