<style>
  .borders {
    width: 300px;
    height: 200px;
    border: 3px gray solid;
    margin-right: 10px;
    float: left;
  }

  .orders {
    margin: 0px 180px 10px 20px;
    max-width: 100px;
  }

  #userSelector {
    margin: 10px 42.5%;
    width: 15%;
    min-width: 100px;
  }

  #main {
    margin-left: 10px;
  }

  #checkout {
    margin-top: 10px;
  }

</style>

<body>
  <select id="userSelector" class="form-control" ng-init="selectedUser = users[0]" ng-change="getUserInfo()" ng-model="selectedUser" ng-options="user as user disable when user === 'Choose username' for user in users"></select>

  <div id='main' ng-show="userInfo">
    <h1>HELLO {{ selectedUser.toUpperCase()}} MY OLD FRIEND</h1>
    <main>
      <div class="borders" ng-repeat="product in products">
        <li>
          <ul>{{ product.name }}</ul>
          <ul>{{ product.price }}</ul>
          <ul>{{ product.description }}</ul>
        </li>

        <div class="form-group">
          <label for=product.sku>Orders: </label>
          <input class="orders" type="number" ng-change=calculate(product.sku) ng-model="orders[product.sku].quantity" ng-min=0 value=0 name=product.sku>
        </div>
      </div>

      <div>
        <h4 ng-show="orders.classic.price">Classic Total: ${{ orders.classic.price }} + {{ determineFreeAds('classic') }} free ads</h4>
        <h4 ng-show="orders.standout.price">Standout Total: ${{ orders.standout.price }} + {{ determineFreeAds('standout') }} free ads</h4>
        <h4 ng-show="orders.premium.price">Premium Total: ${{ orders.premium.price }} + {{ determineFreeAds('premium') }} free ads</h4>
      </div>

      <br>
      <button type="button" id="checkout" class="btn btn-primary" ng-click="checkout()" data-toggle="modal" data-target="#myModal">CHECKOUT</button>

      <!-- CHECKOUT MODAL BOX -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Final Order</h4>
            </div>
            <div class="modal-body">
              <h4>Classic: {{ totalOrders.classic }}</h4>
              <h4>Standout: {{ totalOrders.standout }}</h4>
              <h4>Premium: {{ totalOrders.premium }}</h4>
              <h4>Total: ${{ totalPrice }}</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </main>
  </div>
</body>