<style>
  #userSelector {
    margin-bottom: 10px;
    width: 10%;
    min-width: 100px;
  }
</style>

<body ng-app='onlineAdsApp'>
  <!-- <select id='userSelector' class='form-control' ng-init='selectedUser = users[0]' ng-change='getUserInfo()' ng-model='selectedUser' ng-options="user disable when user = 'test' group by user for user in users"></select> -->
  <select id='userSelector' class='form-control' ng-init='selectedUser = users[0]' ng-change='getUserInfo()' ng-model='selectedUser' ng-options="user for user in users"></select>
</body>